.App {
  font-family: 'Orbitron', sans-serif;
  width: 100vw;
  min-height: 100vh;
  background-color: black;
}

.Home {
  width: 100vw;
  /* min-height: 100vh; */
  /* background-image: url('./static/home_background.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.LoggedInPage {
  color: white;
  width: 100vw;
  min-height: 100vh;
  background-image: url('./static/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  padding: 10px 10px 10px 0px !important;
  color: white;
  text-shadow: 0px 0px 15px white;
  letter-spacing: 3px;
}

a:hover {
  color: rgb(141, 162, 219);
  text-shadow: 0px 0px 20px white;
  cursor: pointer;
}

.Profile {
  letter-spacing: 2.5px;
}

/* Formats for LoginConsole */
.Login {
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px 0px 30px 0px;
  margin-top: 2vh;
  box-shadow: 0px 0px 10px white;
  max-width: 300px;
}

input {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px white;
  padding: 5px 20px 5px 20px;
  letter-spacing: 3px;
  width: 200px;
}

button {
  color: white;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 10px white;
}

button:hover {
  background-color: #ffffff10;
  box-shadow: 0px 0px 10px 3px white;
}

a .leaflet-control-zoom-in {
  background-color: red;
}

/* Formats for screen */
.screen {
  min-height: 100vh;
  border: 40px ridge white;
  border-radius: 60px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'VT323', monospace;
  background-image: url('./static/background.jpg');
}

.screen-content {
  height: 90vh;
  color: chartreuse;
  padding: 50px;
  overflow-y: auto;
  letter-spacing: 1px;
}

.screen-controls {
  min-height: 10vh;
  width: auto;
  background: white;
  border: 10px ridge white;
}

.screen-button {
  border: 3px outset silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.screen-button a {
  text-decoration: none;
  color: black;
  padding: 0px !important;
}

.screen-button:hover {
  border: 2px inset silver;
  cursor: pointer;
}

table, th, td {
  border: 1px solid rgba(128, 255, 0, 0.568) !important;
  box-shadow: 0px 0px 10px chartreuse;
  color: chartreuse;
  padding: 15px 80px 15px 80px;
}

th {
  font-size: 30px;
}

table {
  border-radius: 50px;
}

tr:hover {
  color: black !important;
  background-color: rgba(128, 255, 0, 0.205);
}

#map {
  border: 20px groove silver;
  border-radius: 10px;
}

.loading {
  min-height: 100vh;
  border: 40px ridge white;
  border-radius: 60px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
  background-image: url('./static/background.jpg');
}

.active button {
  background-color: lightgrey;
  border: 2px inset silver;
}